# Fichiers sensibles à ne pas versionner
# --- Environment files ---
.env
backend/serviceAccountKey.json


# --- Editor / System ---
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Logs ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- Node / Build ---
node_modules
dist
dist-ssr
*.local
