version: "3.9"

services:
  frontend:
    build:
      context: ./Frontend
      args:
        VITE_API_URL: ${VITE_API_URL}
    container_name: frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

  backend:
    build:
      context: ./Backend
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./Backend/app:/code/app
      - ./Backend/requirements.txt:/code/requirements.txt
      - ./Backend/firebase:/firebase
    environment:
      - PYTHONUNBUFFERED=1
      - FIREBASE_API_KEY=${FIREBASE_API_KEY}
      - Admin_Email=${Admin_Email}
      - Admin_Password=${Admin_Password}
      - JWT_SECRET=${JWT_SECRET}
    env_file:
      - .env

  nginx:
    image: nginx:latest
    container_name: reverse-proxy
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
